<footer class="justify-content-center mb-2">
    <div class="row justify-content-around mb-0 pt-3 pb-1">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12 text-center font-italic align-items-center my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4"><b><span><i class="bi bi-book"></i></span><a href="{{ url_for('home') }}" class="no-hyperlink"><b class="text-dark"> Home</b></a>
                            <br></b></li>
                        <li class="mt-3"><small class="copy-rights cursor-pointer">&#9400; 2024 <a href="https://github.com/laicadm" target="_blank" class="no-hyperlink">laicadm</a></small></li>
                        <li><small>Copyright.</small></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 text-center my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4"><b>About</b></li>
                        <li class="mt-3"><a href="{{ url_for('reference') }}" class="no-hyperlink">References</a></li>
                        <li><a href="https://jisho.org/forum" target="_blank" class="no-hyperlink">Jisho Forum</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 text-center my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4"><b>Development</b></li>
                        <li class="mt-3">Repository</li>
                        <li><a href="https://pypi.org/project/jisho-api/" target="_blank" class="no-hyperlink">Jisho API</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
