<footer class="justify-content-center mb-2">
    <div class="row justify-content-around mb-0 pt-5 pb-0 ">
        <div class="col-12">
            <div class="row justify-content-center"> 
                <div class="col-md-4 col-12 font-italic align-items-center  mt-md-3 mt-4"><h5><span> <i class="bi bi-book"></i></span><a href="{{ url_for('home') }}"><b class="text-dark"> 日本語ール</b></a></h5>
                <p class="social mt-md-3 mt-2"> <span><i class="fa fa-facebook " aria-hidden="true"></i></span>  <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>  </p>
                <small class="copy-rights cursor-pointer">&#9400; 2024 Alaica</small><br>
                <small>Copyright. All Rights Reserved. </small>
                
                </div>
                <div class="col-md-4 col-12  my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4"><b>About</b></li>
                        <a href="{{ url_for('reference') }}"><li class="mt-3">References</li></a>
                        <a href="https://jisho.org/forum" target="_blank"><li>Jisho Forum</li></a>
                    </ul>
                </div>
                <div class="col-md-4 col-12 my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4"><b>Development</b></li>
                        <li class="mt-3">Repository</li>
                        <a href="https://pypi.org/project/jisho-api/" target="_blank"><li>Jisho API</li><a>
                    </ul>
                </div>
            </div>  
        </div>
    </div>            
</footer>