{% extends "base.html" %}
{% block content %}
    {% include 'portfolio/navbar.html' %}
    <!-- Header -->
    <header class="my-header w3-container w3-center w-100">
    <h1 class="text-title">みんなの辞書</h1>
    <p class="text-desc">どんな言葉を考えていますか?</p>
    <a href="#info"><button class="w3-button w3-white w3-padding-large w3-large w3-margin-top text-btn">情報を見る</button></a>
    </header>

    <!-- First Grid -->
    <div class="about-div w3-row-padding w3-padding-64 w3-container w-100" id="info">
    <div class="w3-content">
        <div class="w3-twothird">
        <h1>About Web 辞書</h1>
        <!-- <h5 class="w3-padding-32">We provide you with our free online materials to help on your Japanese studies and goals. Let's start studying together!</h5> -->

        <p class="w3-text-grey">
            We provide you with our free online materials to help on your Japanese studies and goals. 
            Currently we've been working for other resources. As of now, please feel free to use Jisho.
            It is a free Japanese-English web dictionary. Let's start studying together!
        </p>
        </div>

        <div class="w3-third w3-center">
            <img src="{{ url_for('static', filename='gif/running-cat.gif') }}" width="60%" height="60%" alt="running cat" class="img-fluid">
        </div>
    </div>
    </div>

    <!-- Second Grid -->
    <div class="feature-div w3-row-padding w3-light-grey w3-padding-64 w3-container w-100">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <img src="{{ url_for('static', filename='gif/coffee.gif') }}" width="60%" height="60%" alt="running cat" class="img-fluid">
        </div>

        <div class="w3-twothird">
        <h1>Features</h1>
        <h5 class="w3-padding-32">We freely provide you the following features to assist with your study:</h5>
        
        <ul class="w3-text-grey">
            <li>
                <p>
                    Jisho (辞書): a Japanese-English dictionary to provide you the definition of the the desired keyword you want to search.
                </p>
            </li>
        </ul>
        
        </div>
    </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64 w-100">
        <h1 class="w3-margin w3-large">© <a class="no-hyperlink" href="https://github.com/laicadm/jisho-flask">laicadm</a> | 2024</h1>
    </div>
{% endblock %}