@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+JP:wght@200..900&family=Sacramento&display=swap');

.home-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.input-group {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-title {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-style: normal;
    font-weight: bold;
}

.noto-serif-jp {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

.justified-text {
    text-align: justify;
}

.pos-badge {
    margin-bottom: 0px;
    color: gray;
}

.no-result {
    min-height: 50vh;
}

.nav-pills .nav-link.active {
    background-color: var(--bs-secondary) !important;
    color: white;
}

.nav-pills .nav-link {
    color: var(--bs-secondary);
}

.nav-pills .nav-link:hover {
    color: white;
    background-color: var(--bs-secondary);
}

.card-header {
    margin-top: -2px !important;
}

.content-span {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

/* tablet screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-span {
        max-width: 50%;
    }
    .input-group {
        min-width: 500px;
    }

}

/* sample custom span width for a specific class */
@media (min-width: 768px) {
    .content-span {
        max-width: 50%;
    }
    .input-group {
        min-width: 400px;
    }
}

/* larger screens */
@media (min-width: 1024px) {
    .content-span {
        max-width: 30%;
    }
    .input-group {
        min-width: 600px;
    }
}
