@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

.w3-container {
    padding: 128px 16px;
}

.my-header {
    background-image: url("../img/sky-bg.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-div {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-title, .text-desc {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-title {
    font-weight: bolder;
    font-size: 80px;
}

.text-desc {
    font-size: 30px;
}

.text-btn {
    font-size: 20px;
    font-weight: bold;
}

.no-hyperlink {
    text-decoration: none;
    color: inherit; 
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}